extends layout 

block content 
    section(class="postForm")
        nav(class="postForm__nav")
            a(href="/dashboard") DASHBOARD
        form(class="postForm__form" action="/dashboard/posts" method="POST")
            label(for="title") Title:
            input(class="postForm__input" type="text" name="title" required="true")
            label(for="content") Content:
            textarea(class="postForm__textarea" name="content" required="true" style="resize: none")
            button(class="postForm__button") Create