extends layout 

block content 
    section(class="dashboard")
        if user
            nav(class="dashboard__nav")
                a(href="/user/log-out") LOG OUT
            p(class="dashboard__text") Welcome #{user.username}!
        else
            nav(class="dashboard__nav")
                a(href="/user/log-in") LOG IN
            p(class="dashboard__text") Welcome!
        div(class="dashboard__buttons")
            if user
                button(class="dashboard__button")
                    a(href="/dashboard/posts") VIEW POSTS
                button(class="dashboard__button")
                    a(href="/dashboard/posts/create") CREATE POST
            else
                p(class="dashboard__text--msg") Please visit the regular blog to view posts and comment.