extends layout 

block content 
    if !user
        section(class="noAccess")
            nav(class="noAccess__nav")
                a(href="/dashboard") DASHBOARD
            p(class="noAccess__msg") Please visit the regular blog <a href="https://keffri-blog-api.herokuapp.com/blog">here</a> to view posts and comment.
    else if !user.admin
        section(class="noAccess")
            nav(class="noAccess__nav")
                a(href="/dashboard") DASHBOARD
            p(class="noAccess__msg") Please visit the regular blog <a href="https://keffri-blog-api.herokuapp.com/blog">here</a> to view posts and comment.
    else 
        section(class="postForm")
            nav(class="postForm__nav")
                a(href="/dashboard") DASHBOARD
                a(href="/dashboard/posts") VIEW POSTS
            form(class="postForm__form" action=`/dashboard/posts/${postID}/edit?_method=PUT` method="POST")
                label(for="title") Title:
                input(class="postForm__input" type="text" name="title" required="true" value=`${post.title}`) 
                label(for="post") Post:
                textarea(class="postForm__textarea" name="post" required="true" style="resize: none") #{post.post}
                button(class="postForm__button") Submit
