extends layout 

block content
    section(class="posts")
        nav(class="posts__nav")
            a(href="/dashboard") DASHBOARD
        each post in posts_list
            div(class="posts__container")
                h1(class="posts__title") #{post.title}
                p(class="posts__date") #{post.postDate}
                p Comments: #{post.comments.length}
                button(class="posts__button")
                    a(href=post.url) VIEW POST