/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
	background-color: #161616;
	color: #D7D7D7;
}

/*** MIXINS ***/

@mixin button-styles {
    background-color: #161616;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #D7D7D7;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: #161616;
        background-color: #D7D7D7;

        a {
            color: #161616;
        }
    }		

    a {
        color: #D7D7D7;
        text-decoration: none;				
    }
}


/*** DASHBOARD ***/

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__nav {       
		background-color: #D7D7D7;
		padding: 0.5rem 1rem;
		border-radius: 5px;

        a {
            color: #161616;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__text {
        font-size: 3rem;

        &--msg {
            font-size: 1.25rem;
        }
    }

    &__button  {
        @include button-styles;
        margin: 0 2rem;
        font-weight: 800;
        font-size: 1.5rem;
    }
}

/*** LOGIN ***/

.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__nav {
        background-color: #D7D7D7;
		padding: 0.5rem 1rem;
		border-radius: 5px;

        a {
            color: #161616;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__title {
        font-size: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__button {
        @include button-styles;
    }
}

/*** POSTS ***/

.posts {	
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	&__nav {
		margin-top: 3rem;
		background-color: #D7D7D7;
		display: flex;
		justify-content: space-between;
		gap: 1em;
		padding: 0.5rem 1rem;
		border-radius: 5px;

		a {
			color: #161616;
			text-decoration: none;
				
			&:hover {
				text-decoration: underline;
			}
		}	
		
	}

	&__container {
		border: 2px solid #D7D7D7;
		padding: 1rem;
		display: flex;
		flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
	}

    &__title {
        font-size: 2rem;
        text-decoration: underline;
        padding-bottom: 1rem;
    }

	&__post {
		padding-bottom: 1rem;
	}

	&__date {
		padding-bottom: 1rem;
	}

    &__button {
        @include button-styles;
    }
}

/*** POST ***/

.post {	
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    gap: 1rem;
 
	
	&__nav {

		padding-top: 3rem;
		&--list {
			a {
				color: #161616;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}

			min-width: 350px;
			background-color: #D7D7D7;
			display: flex;
			justify-content: space-between;
			gap: 1em;
			padding: 0.5rem 1rem;
			border-radius: 5px;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border: 2px solid #D7D7D7;
		padding: .75rem 1.5rem;

		&--title {
			align-self: center;
			font-size: 2rem;
			text-decoration: underline;
			padding-bottom: 2rem;
		}

		&--post {
			font-size: 1.25rem;
		}
	}

	&__commentContainer {
		width: 350px;
		border: 1px solid #D7D7D7;
		padding: 1rem;
		display: flex;		
		flex-direction: column;
		gap: 0.5rem;
		
	
		&--user {			
			text-decoration: underline;
		}

		&--text {
			word-wrap: break-word;
		}	
	}
    
    &__buttons {
        display: flex;
        justify-content: space-evenly
    }

	&__button {
		@include button-styles;
	}

	&__commentForm {
		display: flex;
		flex-direction: column;
	}

	&__textarea {
		width: 350px;
		height: 100px;
		margin-bottom: 1rem;
	}
}

/*** postForm ***/

.postForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__nav {
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        background-color: #D7D7D7;
		padding: 0.5rem 1rem;
		border-radius: 5px;

        a {
            color: #161616;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__textarea {
        width: 350px;
        height: 250px;
    }

    &__button {
        @include button-styles;
    }
}

/*** COMMENT ***/

.comment {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-evenly;
    
    &__nav {
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        background-color: #D7D7D7;
		padding: 0.5rem 1rem;
		border-radius: 5px;

        a {
            color: #161616;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
	}

	&__button {
		@include button-styles;
	}
}